/* Reset de estilos */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo do formulário */
  form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-image: "nature.jpg";
        background-image: url('nature.jpg'); /* Substitua 'seu-papel-de-parede.jpg' pelo caminho da imagem que deseja usar como papel de parede */
        background-size: cover;
        background-repeat: no-repeat;
      
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  span {
    font-weight: bold;
    color: #666;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('nature.jpg');
    background-size: cover;
        background-repeat: no-repeat;
    

}
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007aff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilo do campo quando em foco */
  input:focus {
    outline: none;
    border-color: #007aff;
  }
  
  /* Estilo do campo quando preenchido corretamente */
  input:valid {
    border-color: #4cd964;
  }
  
  /* Estilo do campo quando preenchido incorretamente */
  input:invalid {
    border-color: #ff3b30;
  }
  
  /* Media Queries para tornar o formulário responsivo */
  @media screen and (max-width: 600px) {
    form {
      max-width: 90%;
    }
  }
  